// Font Variables
$font-primary: 'Lato', sans-serif;
$font-weight-primary: 400;

// Color Variables
$green-light: #7ed56f;
$green-medium: #55c57a;
$green-dark: #28b485;

$grey:#7777;

$white: #fff;


//Heading Variables
$heading-font-size:6rem;
$heading-font-weight:400;
$heading-color:$white;
$heading-letter-spacing:3.5rem;